{% extends 'base.html' %} 
{% block title %}
  {{ post.name }}
{% endblock title %}
{% block content %}
<h2>Detalhes do Museu {{ post.name }}</h2>
<section class="dados-de-filme">
  <img src="{{ post.poster_url }}" alt="Poster do filme {{ post.name}}" />
  <ul>
    <li>Nome: {{ post.name }}</li>
    <hr>
    <li>Descrição: {{ post.text }}</li>
    <hr>
    <li>Data do post: {{ post.post_date }}</li>
    <hr>
    <li><a href="{% url 'museus:update' post.id %}">Editar</a></li>
    <li><a href="{% url 'museus:delete' post.id %}">Apagar</a></li>
  </ul>
</section>

<hr>

<section>
    <h3>Comentários</h3>
    <ul>
        {% if post.comment_set.all %}
            {% for comment in post.comment_set.all %}
                <figure>
                    <blockquote>
                        "{{ comment.text }}"
                    </blockquote>
                    <figcaption>—{{ comment.author }}  ({{comment.post_date}})</figcaption>
                </figure>
            {% endfor %}
        {% else %}
            <p>Ainda não existe nenhum comentário para este museu.</p>
        {% endif %}
      </ul>
    
      <hr>
  
    <a href="{% url 'museus:comment' post.pk %}"><button>Crie seu Comentário</button></a>
  </section>

{% endblock content %}
