{% extends 'base.html' %} {% block content %}
<h2>Todos os Museus</h2>
<hr>
<section>
  <p>
    Muitos resultados? <a href="{% url 'museus:search' %}">Buscar Museus</a>
  </p>
  <hr>
  <p>
    Não encontrou o museu?
    <a href="{% url 'museus:create' %}">Adicionar Novo Museu</a>
  </p>
</section>
{% if post_list %}
<section class="lista-de-cards">
    {% for post in post_list %}
    <article class="card">
      <a href="{% url 'museus:detail' post.id %}"> <!-- modifique esta linha -->
          <img src="{{ post.poster_url }}" alt="Poster do museu {{ post.name }}" />
      </a>
      <p>{{ post.name }}</p>
    </article>
  {% endfor %}
</section>
{% else %}
<hr>
<p>Não foi encontrado nenhum museu.</p>
{% endif %} {% endblock content %}