{% extends 'base.html' %}

{% block title %}
Categorias
{% endblock title %}

{% block content %}
<h2>Listas de Museus</h2>

<section>
    {% for list in list_list %}
    <hr>
    <article>
        <header>
            <h3>{{list.name}}</h3>
        </header>
        <div class="lista-de-cards">
            {% for post in list.posts.all %}
            <div class="card">
                <a href="{% url 'museus:detail' post.id %}">
                    <img src="{{ post.poster_url }}" alt="Poster do filme {{ post.name}}">
                </a>
                <p>{{ post.name }}</p>
            </div>
            {% endfor %}
        </div>
    </article>
    {% endfor %}

    <a href="{% url 'museus:create-list' %}"><button>Crie sua Categoria</button></a>
</section>

{% endblock content %}