{% extends 'base.html' %}

{% block content %}
<h2>Busca de Museus por Nome</h2>
<form action="{% url 'museus:search' %}">
    <p>
        <label for="id_query">Título:</label>
        <input type="text" name="query" id="id_query" />
    </p>
    <button type="submit">Buscar</button>
</form>

<hr>
<h2>Resultado da Busca</h2>
{% if post_list %}
<section class="lista-de-cards">
    {% for post in post_list %}
    <article class="card">
        <img src="{{ post.poster_url }}" alt="Foto do Museu {{ post.name}}">
        <p>{{ post.name }}</p>
    </article>
    {% endfor %}
</section>
{% else %}
<hr>
<p>Não foi encontrado nenhum museu para a busca.</p>
{% endif %}

{% endblock content %}